@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@100;200;300;400;500;600;700;800;900&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    font-size: 16px;
}
body{
    font-family: 'Roboto Slab', serif;
}

nav{
    background-color:rgb(76, 2, 2);
    position: fixed;
    width: 100%;
}
nav>ul{
    list-style: none;
    display: flex;
    gap: 50px;
    justify-content: end;
    margin-right: 50px;
    font-weight: 700;
    padding: 20px;
    color: white;
}
.welcome-section{
    background: rgb(0,0,0);
    background: rgb(0,0,0);
background: linear-gradient(90deg, rgba(0,0,0,1) 0%, rgba(224,222,222,1) 99%);
    /* height: 100vh; */
    height: 500px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
h1{
    color: white;
    font-size: 3rem;
    letter-spacing: 4px;
}
.subtext-level{
    font-style: italic;
    color:rgb(197, 7, 7); 
    font-weight: 700;
    font-size: 2em;
}
a{
    text-decoration: none;
}
#navbar a{
    color: white;
    
}

.projects{
    background-color: hsl(240, 75%, 14%);

    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    gap: 20px;
    padding: 20px 0;
}

.project-tile{
    border: solid 1px white;
    /* display: flex; */
    /* flex-direction: column; */
    width: 600px;
    height: 700px;
    display: grid;
    grid-template-areas: 'h3'
    'img'
    'text'
    'enlace';
   
}
.project-tile h3{
    font-size: 1.8rem;
    text-align: center;
    color: white;
    grid-area: h3;
}
.project-tile>img{
    width:500px;
    height: 400px;
    margin: 50px auto;
    grid-area: img;
}
.btn{
    border: solid white 1px ;
    display: flex;
    justify-content: center;
    align-items: center;
    /* height: 40px; */
    width: 100%;
    /* background-color: fuchsia; */
    grid-area: enlace;
}

.project-tile a{
    color: white;
    font-weight: 900;
    
}